<%= link_to "Complete", "#", class: "btn btn-primary" %>

<div class="container">
  <%= simple_form_for(session) do |f| %>
      <%= f.submit "Complete", class: "btn btn-primary" %>
  <% end %>
</div>
