// Define variables for your color scheme

$red: #D90429;
$light-red: #Ef233C;
$dark-orange: #F42B03;
$orange: #FFA500;
$yellow: #FFD700;
$blue: #A1DCEB;
$green: #28B79F;
$dark-grey: #2B2D42;
$grey: #8D99AE;
$light-grey: #EDF2F4;

$gradient: linear-gradient(90deg, rgba(217,4,41,1) 0%, rgba(244,43,3,1) 100%);
