.about-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 48px;
  margin: 0;
}

.about-content {
  margin-left: 350px;
}

.procrastination {
  text-align: center;

  img {
    // justify-content: flex-end;
    margin-top: 3%;
    // margin-left: 28%;
    margin-bottom: 3%;
    width: 50%;
    height: 30%;
  }

  p {
    text-align: center;
    font-size: 30px;
    font-family: "Shadows Into Light";
    font-style: italic;
    justify-content: center;
    margin-bottom: 3%;
  }

}

.faq-css {
  margin-bottom: 2%;
  h1 {
  font-size: 28px;
  font-family: $headers-font;
  // align-items:  center;
  font-weight: bold;
  margin-top: 2%;
  // margin-bottom: 2%;
  }
  // h2 {
  // font-size: 28px;
  // font-family: "Raleway";
  // // align-items:  center;
  // font-weight: bold;
  // margin-top: 4%;
  // margin-bottom: 2%;
  // }
  p {
  // margin-top: 2%;
  font-size: 18px;
  font-family: $body-font;
  margin-bottom: 2%;
  // align-items:  center;
  }
  li {
  // margin-left: 14%;
  text-align: justify;
  font-size: 18px;
  font-family: $body-font;
  }
  // ol {
  // font-size: 28px;
  // font-family: "Raleway";
  // // align-items:  center;
  // font-weight: bold;
  // }
}

.main-text {
     text-align: center;
  h1 {
  font-size: 28px;
  font-family: $headers-font;
  align-items:  center;
  font-weight: bold;
  margin-bottom: 2%;
  }
  h2 {
  font-size: 28px;
  font-family: $headers-font;
  align-items:  center;
  font-weight: bold;
  margin-top: 4%;
  margin-bottom: 2%;
  }
  p {
  font-size: 18px;
  font-family: $body-font;
  align-items:  center;
  }
  li {
  margin-left: 14%;
  text-align: justify;
  font-size: 18px;
  font-family: $body-font;
  }
}

.come-on {
  text-align: center;
  margin-bottom: 5%;
}
