// Specific CSS for your home-page
@import url('https://fonts.googleapis.com/css2?family=Shrikhand &display=swap');

// Bootcamp advantages cards
// DO NOT DELETE
.random {
.bootcamp-advantages {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 48px 0px;
}

.bootcamp-advantage {
  height: 150px;
  width: 300px;
  padding: 16px;
  text-align: center;
  padding: 16px;
}

.bootcamp-advantage i{
  font-size: 60px;
  padding-bottom: 8px;
}

.bootcamp-advantage p{
  font-size: 16px;
  font-weight: bold;
}

// Alumni carousel
h2 {
  font-family: $headers-font;
}

.slide-card {
  overflow: hidden;
  height: 450px;
  background: #EDF2F4;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  width: 1000px;
  margin: 0 auto;
}

.slide-card img {
  height: 100%;
  object-fit: cover;
}

.slide-card-text h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.slide-card-text p {
  font-size: 14px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.slide-card-text {
  padding: 16px;
}
}
// DO NOT DELETE


// Hero Section

.container-one {
  height: 100vh;
}

.hero {
  display: flex;
  align-items: center;
  height: 70vh;
}

.hero-image {
  width: 500px;
}

.hero-button {
  background: rgb(217,4,41);
  background: linear-gradient(90deg, rgba(217,4,41,1) 0%, rgba(244,43,3,1) 100%);
  color: white;
  padding: 20px 30px;
  border-radius: 60px;
  font: normal 700 0.75rem / 1.5 Roboto, sans-serif;
  letter-spacing: 0.167em;
  text-transform: uppercase;
  transition: padding 1s;
  margin-top: 30px;

  &:hover {
    opacity: 75%;
    color: white;
    padding: 20px 40px;
  }
}

.header-text {
  font: normal 900 3.375rem / 1.09 Roboto, sans-serif;
  // font-family: 'Shrikhand', cursive;
  color: $dark-grey;
  font-size: 54px;
  width: 600px;
  margin-right: 50px;
}

.features {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: stretch;
  margin: 4.063rem 0 0;
  height: 3.75rem;
}

.feature-num {
  padding: 0.188rem 0 0;
  white-space: nowrap;

  .number {
    font-family: 'Shrikhand', cursive;
    font-size: 36px;
    background: linear-gradient(90deg, rgba(217,4,41,1) 0%, rgba(244,43,3,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  h2 {
    font-size: 1.5em;
    font-weight: bold;
  }

}

.features hr {
  width: 1px;
  height: 100%;
  background: $grey;
  margin: 0 5rem;
}

.feature-text {
  font: normal 700 0.75rem / 1.5 Roboto, sans-serif;
  letter-spacing: 0.167em;
  text-transform: uppercase;
}

.label {
  margin: 0 0 0 0.688rem;
  position: relative;
  top: -0.625rem;
}

// Second Section

.perk-image {
  margin-left: 20px;
}

.perks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 64px 0;
}

.perk-individual {
  height: 150px;
  width: 300px;
  padding: 16px;
  text-align: center;
}

.perk-individual i {
  font-size: 80px;
  padding-bottom: 8px;
}

.perk-individual p {
  font-size: 16px;
  font-weight: bold;
}

// Third Section - Carousel

h2 {
  font-family: $headers-font;
}

.slide-card {
  overflow: hidden;
  height: 450px;
  background: #EDF2F4;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  width: 1000px;
  margin: 0 auto;
  margin-top: 100px;
}

.slide-card img {
  height: 100%;
  object-fit: cover;
}

.slide-card-text h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

// Fourth Section - Video

.video {
  position: relative;
  margin-left: 5%;
  border-radius: 50px;
  margin-top: 5%;

  margin-right: 5%;
  border: 4px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  overflow: hidden;
}

.container-four {
  display: flex;
  justify-content: center;
  overflow: auto;
  background: $red;
  background: linear-gradient(0deg, $red 50%, rgba(255,255,255,1) 50%);
  height: 100vh;
  margin-top: 100px;
}
.slide-card-text p {
  font-size: 14px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}
