// Specific CSS for your home-page

// Bootcamp intro cards

.bootcamp-intro-cards {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 48px 0px;
}

.bootcamp-intro-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 250px;
  width: 550px;
  padding: 24px;
  text-align: center;
}

.left {
  padding-right: 16px;
  font-size: 16px;
}

.right {
  padding-left: 16px;
  font-size: 16px;
}

// Bootcamp advantages cards

.bootcamp-advantages {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 48px 0px;
}

.bootcamp-advantage {
  height: 200px;
  width: 300px;
  padding: 24px 16px;
  text-align: center;
}

.bootcamp-advantage i{
  font-size: 60px;
  padding-bottom: 8px;
}

.bootcamp-advantage p{
  font-size: 16px;
  font-weight: bold;
}

// Alumni carousel

#carousel {
  margin: 48px 0px;
  padding: 24px 0px;
}

.slide-card {
  overflow: hidden;
  height: 450px;
  background: #EDF2F4;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  width: 1000px;
  margin: 0 auto;
}

.slide-card img {
  height: 100%;
  object-fit: cover;
}

.slide-card-text h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.slide-card-text p {
  font-size: 14px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.slide-card-text {
  padding: 16px;
}
