.profile-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 0x;
  margin: 0;
  overflow: auto;
  background-image: linear-gradient(to bottom, transparent 50%, $white 50%),
    url("https://res.cloudinary.com/drirexwsz/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1647098498/photo-1614130020598-093435d7f1a2_ndhbdg.jpg");
  background-size: 100% 60%;
  background-repeat: no-repeat;
  overflow: auto;
  width: 100%;
}

.profile-css {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 310px;


  img {
    position: absolute;
    border-radius: 50%;
    width: 220px;
    height: 220px;
    top: -114px;
  }
  .user-name-profile {
    margin-top: 150px;
    // margin-left: 18%;
    display: block;
    font-weight: bold;
    // text-align: left;
  }
  .completed-challenges {
    font-size: 20px;
    // margin-left: 12%;
    // margin-bottom: 5%;
    font-weight: bold;
    height: 5%;
  }

  .challenge-complete-card {
    // justify-content: space-around;
    // height: 10px;
    // width: 30%;
    // font-size: 20px;
    // margin-top: 5%;
    //    line-height: 0%;
    background: $white;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    transition: all .1s ease-in;
    padding: 24px;

    .challenge-complete {
    text-align: right;
  }

  }


  .social-media-buttons {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-bottom: 32px;

    .btn {
      padding-top: 15px;
      padding-bottom: 15px;
      font-size: 30px;
      width: 100px;
      justify-content: center;
      border-radius: 40px;
      margin-top: 10%;
      margin-bottom: 10%;
    }

  }
}

.complete-challenge-cards {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 32px;
  padding: 32px 0px;
  margin-bottom: 24px;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, 600px);
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
}
