.challenge-index-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 48px;
  margin: 0;
}


.challenge-index-card {

.page-title {
  margin-top: 32px;
}

a {

  color: $dark-grey;
}

.challenge-index-desc {
  color: $grey;
}

.challenge-index-cards {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 32px;
  padding: 32px 0px;
  margin-bottom: 24px;
}

@media(max-width: 1000px) {
  .challenge-index-cards {
    grid-template-columns: 1fr;
  }
}

.challenge-index-card {
  background: $white;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  transition: all .1s ease-in;
  padding: 24px;

  h3 {
    font-weight: normal;
  }

}

.challenge-index-card:hover {
  text-decoration: none;
  color: #161616;
  top: -2px;
  box-shadow: 4px 6px 5px rgba(0, 0, 0, 0.3);
}

.challenge-index-card-active {
  background-color: $pink;
  position: relative;

  h3 {
    font-weight: bold;
  }
}

.today-challenge {
  background-color: $red;
  color: $white;
  display: flex;
  justify-content: space-evenly ;
  align-items: center;
  border-bottom-right-radius: 16px;
  border-top-left-radius: 16px;
  padding: 6px;
  width: max-content;
  position: absolute;
  bottom: 0px;
  right: 0px;

  p {
    margin-bottom: 0px;
    padding-left: 8px;
    color: $white;
  }
}
