<div class="about-content">

  <h1>About Us</h1>
    <ul class="nav nav-tabs">
      <li class="active nav-item"><button class="nav-link active" data-toggle="tab" href="#offer">Our offer</button></li>
      <li class="nav-item"><button class="nav-link" data-toggle="tab" href="#faq">FAQs</button></li>
    </ul>
    <div class="tab-content">
      <div id="faq" class="tab-pane fade">
        <div class="faq-css">
          <h1>Will I actually become fluent?</h1>
          <p>Yes, you will to the point of being able to converse over a broad range of everyday topics. However, this is on the condition that that you fully complete all the online exercises as to our guidance given and participate fully in the live Zoom sessions. We also teach you all the tips and tricks of how to learn Chinese independently to help you to expedite your progress and to help you with your learning beyond the course.</p>
          <h1>Will I learn how to write in Chinese?</h1>
          <p>For the sake of the bootcamp and its limited timeframe, the focus is on how to converse in the language orally. Most Chinese natives rarely write and mostly type, hence the ability to learn to write in Chinese will be developed through typing the language on a computer - this will be taught during the course. If there are learners who wish to practice/learn writing by hand, additional resources will be provided.</p>
          <h1>What if I don't want to speak?</h1>
          <p>We of course won't force you, though to be fluent in a foreign language, speaking is an essential part of the process. Though you may worry about making a mistake, making mistakes is part of the learning process in order to learn and you will be very much supported by your teachers and peers in a relaxed and positive environment! If you are unwilling to speak in the language at all, then this language learning course may not be for you.</p><br>
        </div>
      </div>
      <div id="offer" class="tab-pane fade show active">
        <div class="procrastination">
          <img src="https://res.cloudinary.com/drirexwsz/image/upload/v1646570935/758a936a5df86537f76c8c43af23156f56f30b76_size140_w2048_h1152_nlhq4r.jpg" alt="procrastination">
          <%# <p>"Go fishing for three days and dry the nets for two"</p>
            <p>"Working in fits and starts"</p> %>
        </div>
        <div class="main-text">
          <h1>We understand</h1>
          <p>As we all well know, to achieve fluency in a foreign language, regular practice and peserverance is key but life can get in the way!</p>
          <p>So what if we told you if you could immerse yourself from the comfort of your own home and fit it in around other competing priorities?</p>
          <p>Our six month language learning bootcamp gives you all the tools you need to develop fluency in Chinese fully equipped to continue learning beyond the course independently if you wish. The short-term intensive nature of the course, with our experts to guide you, will save you years of time and frustration so very much a worthy investment if you are serious about becoming fluent in a language.</p>
          <h2>Course Overview</h2>
          <p>Learners complete online exercises during interactive Zoom sessions three times per week.</p>
          <p>During the Zoom sessions, the teacher gives general feedback to the group based on exercise submissions across all skill areas. TAs (Teaching Assistants) are also available to help you with any one-to-one queries and for further practice.</p>
          <p>Students also go into breakout rooms for 'structured production' sessions. They can choose to either:
            <ul>
              <li>Prepare an oral presentation based on the writing text they produced during the online exercises</li>
              <li>Prepare an oral presentation based on the existing reading text given for that day's online exercises</li>
              <li>Prepare an oral dialogue with their breakout room buddy in Chinese</li>
            </ul>
            <p>At the end of the session, TAs may recommend and encourage groups, pairs or individuals to perform their presentations or dialogues to the rest of the group to celebrate the fruits of their learning for the day and to obtain feedback.</p>
            <p>Benefits of the breakout room/buddy system:
              <ul>
                <li>In it together - students can help each other learn and make friends along the way</li>
                <li>Students can practise Chinese conversation with each other</li>
                <li>TAs can pop into the rooms to help with any questions</li>
                <li>Students can create tickets to practise with a TA or to ask questions</li>
              </ul>
              <p>
                <p>Our groundbreaking language learning bootcamp is guaranteed to help you to succeed. We look forward to joining us on an unforgettable journey. You can do it!</p>
              </div>
              <div class="come-on">
                <img src="https://res.cloudinary.com/drirexwsz/image/upload/v1646571371/go-motivation_hmaars.gif">
              </div>
            </div>
          </div>
        </div>

</div>
