<div class="container">

  <h1>About Us</h1>

    <ul class="nav nav-tabs">
      <li class="active nav-item"><button class="nav-link active" data-toggle="tab" href="#offer">Our offer</button></li>
      <li class="nav-item"><button class="nav-link" data-toggle="tab" href="#faq">FAQs</button></li>
    </ul>

    <div class="tab-content">

      <div id="offer" class="tab-pane fade show active">

        <p>No need to go to the country! - Here is a 6 month language learning bootcamp to develop fluency in Chinese that is done entirely from the comfort of your own home!</p>

        <p>Online exercises to complete before the zoom sessions (3 sessions per week).</p>

        <p>During the Zoom session, the teacher gives general feedback to the group based on exercise submissions (reading/recital/writing).</p>

        <p>Students go into breakout rooms for ‘structured production’ sessions, they can choose:
          <ul>
            <li>To do a presentation based on the writing text they produced during the online exercises;</li>
            <li>To do a presentation based on the existing reading text given for that day’s online exercises;</li>
            <li>To converse with their breakout room buddy in Chinese for practice purposes.</li>
          </ul>
        At the end of the session, TAs recommend/encourage groups/pairs/individuals to do their presentations/dialogues in front of the rest of the group to celebrate the fruits of their learning for the day and to obtain feedback.</p>

        <p>Benefits of the breakout room/buddy system:
          <ul>
            <li>Students can help each other learn;</li>
            <li>Students can practise Chinese conversation with each other;</li>
            <li>TAs can pop into the rooms to help with any questions;</li>
            <li>Students can create tickets to practise with a TA or to ask questions.</li>
          </ul>
        <p>

      </div>

      <div id="faq" class="tab-pane fade">

        <ul>
          <li>
            <p>What if I don’t want to speak?</p>
            <p>Learning a foreign language requires you to speak in order to develop fluency in it. Though it might be embarrassing to start with, it is a necessary part of the learning process. If you are unwilling to speak at all, then this language learning course is not likely to be for you.</p>
          </li>

          <li>
            <p>Will I learn how to write in Chinese?</p>
            <p>For the sake of the bootcamp and its limited timeframe, the focus is on how to converse in the language orally. Most Chinese natives rarely write and mostly type, hence the ability to learn to write in Chinese will be developed through typing the language on a computer - this will be taught during the course. If there are learners who wish to practice/learn writing by hand, additional resources will be provided.</p>
          </li>

      </div>

    </div>

</div>
