<% if user_signed_in? %>

  <div class="about-container">

    <%= render 'shared/about_sidenavbar' %>

    <%= render 'about_content' %>

  </div>

<% else %>

  <div class="container">

    <%= render 'about_content' %>

  </div>

<% end %>
