<%= content_for(:navbar_class, "navbar-home") %>

<div class="banner">
  <div class="banner-content text-center">
    <h1>FluentChinese</h1>
    <p>Climb The Great Wall In No Time At All</p>
    <% if user_signed_in? %>
    <%= link_to "Go to Challenges", dashboard_path, class: "btn btn-lg btn-primary"  %>
    <% else %>
    <%= link_to "Sign Up Today", new_user_registration_path, class: "btn btn-lg btn-primary"  %>
    <% end %>
  </div>
</div>
