<%= content_for(:navbar_class, "navbar-home") %>

<div class="banner">
  <div class="banner-content text-center">
    <h1>FluentChinese</h1>
    <p>Climb The Great Wall In No Time At All</p>
    <%= link_to "Sign Up Today", new_user_session_path, class: "btn btn-lg btn-primary"  %>
  </div>
</div>
