<div class="container">

  <div class="page-title">
    <h1>Challenges</h1>
  </div>

 <div class="page-index">
    <% @challenges.each do |challenge|%>
      <p style="font-weight: bold"><%= challenge.name %></p>
      <p><%= challenge.description %></p>
    <% end %>
</div>

</div>
