<div class="challenge-index-container">

  <%= render 'shared/sidenavbar' %>

  <div class="challenge-index-content">

    <h1 class="page-title">Challenges</h1>
    <br>
    <p class="challenge-index-desc">A list of all challenges for this week and next week.</p>

    <div class="challenge-index-cards">

        <% @challenges.each do |challenge|%>
          <%= link_to challenge_path(id: challenge.id), class:"challenge-index-card #{challenge.date == Date.today ? 'challenge-index-card-active' : ''}"  do %>
            <h3><%= challenge.name %></h3>
            <br>
            <p class="challenge-index-desc"style="white-space: pre-line"><%= challenge.description %></p>
            <% if challenge.date == Date.today %>
              <div class="today-challenge">
                <i class="fas fa-star"></i>
                <p>TODAY'S CHALLENGE</p>
              </div>
            <% end %>
          <% end %>
        <% end %>

    </div>

  </div>

</div>
