<div class="container">

  <h1>Challenges</h1>

  <ul>
    <% @challenges.each do |challenge|%>
      <li>
      <p><%= challenge.name %></p>
      <p><%= challenge.description %></p>
      </li>
    <% end %>
  </ul>

</div>
