<div class="container">

  <h1>Challenges</h1>

  <ul>
    <% @challenges.each do |challenge|%>
      <li>
        <p><%= link_to challenge.name, challenge_path(id: challenge.id) %></p>
        <p><%= challenge.description %></p>
      </li>
    <% end %>
  </ul>

</div>
