.challenges-title {
 h1 {
   font-family: $headers-font;
   font-weight: bold;
   margin-bottom: 2%;
 }
 h2 {
   font-family: $headers-font;
   font-weight: bold;
   margin-bottom: 2%;
 }
}

.exercises-cards {

  ul {
    font-family: $body-font;
    font-size: medium;

    .h1 {
      font-family: $headers-font;
    }
  }
}
