h1 {
  font-family: "Raleway";
  font-weight: bold;
}

.writing-form {
  justify-content: center;
  align-items: center;
  justify-items: center;
  box-shadow: aliceblue;
}

.complete-exercise-button {
  margin-top: 1%;
  margin-bottom: 10%;
}

.reading {
  p {
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 78px;
    font-family: "Ma Shan Zheng";
    border-radius: 5%;
    border-color: $fluent-chinese-red;
  }
  h2 {
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 30px;
    font-family: "Raleway";
  }
}
