.navbar-fluent-chinese {
  justify-content: space-between;
  background: $white;
  color: $red;
}

.navbar-fluent-chinese .navbar-collapse {
  flex-grow: 0;
}

.navbar-fluent-chinese .navbar-brand img {
  width: 200px;
}

.navbar-home {
  position: absolute;
  width: 100%;
  background: transparent;
  box-shadow: none;
  .nav-link {
    color: $white;
    font-weight: bold;
    text-emphasis-color: $white;
  }
}

.navbar-light .navbar-nav .nav-link {
    color: $white;
}

#not-on-homepage {
  color: $dark-grey;
}

.active {
  font-weight: bold;
}
