.card-profile-details {
  p {
  font-size: 18px;
  }
}

.card-profile {
  margin-top: -4%;
  width: 40%;
}

h1 {
   color: white;
   font-family: "Raleway";
}

h2 {
  color: white;
     font-family: "Raleway";
}

h3 {
  color: white;
     font-family: "Raleway";
}

body.profile-page {
  background: linear-gradient(5deg, $fluent-chinese-red 50%, $fluent-chinese-pink 50%,);
}
