.form-signup {
  background: fluent;
  padding: 10px 20px;
  margin-top: 0px;
  border-radius: 3px;

  .logo {
    width: 350px;
    padding: 0px 0px 16px 0px;
  }

  .form-inputs {
    background-color: white;
  }

  .btn {
    width: 100%;
    margin-bottom: 20px
  }

  .form-actions {
    justify-content: left;
    margin-bottom: 10%;

  }

  .have-an-account {
    margin-bottom: 0%;

  }
}
