.vocab {
  margin-bottom: 5%;
  border: 4px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  overflow: hidden;
  margin-right: 1%;
}

.writing-form {
  justify-content: center;
  align-items: center;
  justify-items: center;
  box-shadow: aliceblue;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 24px 0px;
  padding: 0px 80px;

  .btn {
    border-radius: 25px;
    text-decoration-color: black;
    background-color: white;
  }
}

.reading {
  p {
    font-family: "Ma Shan Zheng";
    font-size: 70px;
    border: 2px solid black;
    text-align: center;
    -moz-border-radius: 15px;
    border-radius: 15px;
    overflow: hidden;
  }
}

.soundcloud {
  border: 4px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  overflow: hidden;
}

.typeform {
  border: 4px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  overflow: hidden;
}

.audio-recorder-task {
  border: 4px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  overflow: hidden;

  h2 {
  margin-top: 3%;
  margin-bottom: 5%;
  font-size: 30px;
}

  h3 {
    margin-top: 3%;
    margin-bottom: 5%;
    font-size: 30px;
    color: white;
    text-align: center;
  }
}


.holder {
  .controls-css {
    justify-content: center;
    align-items: center;
    display: flex;
    size-adjust: 50px;
    border: 0ch;
    margin-bottom: 5%;
  }
  .recordings-css {
    justify-content: center;
    align-items: center;
    display: flex;
    size-adjust: 50px;
    border: 0ch;
    margin-top: -2%;
    margin-bottom: 5%;
    margin-left: 5%;
  }
}

.listening {
  margin-top: -5%;
  position: relative;
  align-items: center;
  margin-left: 0%;
  border: 4px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  overflow: hidden;
}

.exercise-body {
    position: relative;
    margin-left: 5%;
    border-radius: 50px;
    margin-top: 5%;
    margin-right: 5%;
    border: 4px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    overflow: hidden;
  }

  body.video-page {
    overflow: auto;
    background: $fluent-chinese-red;
    background: linear-gradient(0deg, $fluent-chinese-red 50%, rgba(255,255,255,1) 50%);
  }
