<div class="listening">
  <% if @exercise.content_type == "Listening" %>
    <iframe width="1100" height="680" src=<%= @exercise.content_url %> frameborder="1" allowfullscreen></iframe>
  <% end %>
</div>
