<div class="container">

  <h1><%= @exercise.name %></h1>

  <%= link_to "Start exercise", completed_exercises_path(id: @exercise.id), method: :post, class: "btn btn-primary" %>

  <%= link_to "Complete exercise", completed_exercise_path(id: @exercise.id), method: :patch, class: "btn btn-primary" %>

</div>
