<div class="container">

  <h1><%= @exercise.name %></h1>

  <%= link_to "Start exercise", exercise_completed_exercises_path(exercise_id: @exercise.id), method: :post, class: "btn btn-primary" %>

  <% if @completed_exercise %>
    <%= link_to "Complete exercise", exercise_completed_exercise_path(exercise_id: @exercise.id, id: @completed_exercise.id), method: :patch, class: "btn btn-primary" %>
  <% end %>

</div>
